<!-- ====================BANNER SLIDER================= -->
<section class="banner-slider custom-owl-nav" *ngIf="bannerImageCount">
    <p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="false" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
        <ng-template let-car pTemplate="item">
            <img src="{{backendUrl}}/{{car.image}}" />
        </ng-template>
    </p-carousel>
    
</section>
<!-- ====================BANNER SLIDER End================= -->
