<!-- ==============Offer Section============= -->
<section class="offer_section offer_section1" style="background:#F9F9F9 url(assets/images/hair-fibber.png) left top no-repeat;">
    <div class="container">
        <div class="col-md-6 px-0 offset-md-6">
            <div class="offset-text">
                <h1>Biggest Beauty & health Face sale</h1>
                <h3>Starting from <strong class="color-red">$30</strong></h3>
                <p>That ago, was flatter what for was empire still once dissolute of that mountains</p><a class="btn btn-secondary btn-lg uppercase" href="#">shop now</a>
            </div>
        </div>
    </div>
</section><!-- ==============Offer Section End============= -->


<!-- ==============Offer Section============= -->
<section class="offer_section offer_section2" style="background:#fff url(assets/images/offset-2.png) right center no-repeat;">
    <div class="container py-5">
        <div class="col-md-6 px-0">
            <div class="offset-text">
                <h1>Biggest Beauty & health Face sale</h1>
                <h3>Starting from <strong class="color-primary">$30</strong></h3>
                <p>That ago, was flatter what for was empire still once dissolute of that mountains</p><a class="btn btn-secondary btn-lg uppercase" href="#">shop now</a>
            </div>
        </div>
    </div>
</section><!-- ==============Offer Section End============= -->


<!-- ==============Offer Section============= -->
<section class="offer_section offer_section3" style="background:#F9F9F9 url(assets/images/offer-3.png) left top no-repeat;">
    <div class="container">
        <div class="col-md-6 px-0 offset-md-6">
            <div class="offset-text">
                <h1>Biggest Beauty & health Face sale</h1>
                <h3>Starting from <strong class="color-primary">$30</strong></h3>
                <p>That ago, was flatter what for was empire still once dissolute of that mountains</p><a class="btn btn-secondary btn-lg uppercase" href="#">shop now</a>
            </div>
        </div>
    </div>
</section><!-- ==============Offer Section End============= -->