
		<!-- ===============Services Section============= -->
		<section class="services_section">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let data of services">
						<div class="service_box">
							<div>
								<div class="icon"><img alt="" src="assets/images/service-1.png"></div>
							</div>
							<div class="text">
								<h4>{{data?.title}}</h4>
								<p>{{data?.description}}</p>
							</div>
						</div>
					</div>
					<!-- <div class="col-lg-4 col-md-6 col-sm-6">
						<div class="service_box">
							<div>
								<div class="icon"><img alt="" src="assets/images/service-1.png"></div>
							</div>
							<div class="text">
								<h4>service 1</h4>
								<p>That ago, was flatter what for was empire and yet spends still once dissolute of that mountains, is all hotel entered the titles the had to Mr. Text looked</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="service_box">
							<div>
								<div class="icon"><img alt="" src="assets/images/service-1.png"></div>
							</div>
							<div class="text">
								<h4>service 1</h4>
								<p>That ago, was flatter what for was empire and yet spends still once dissolute of that mountains, is all hotel entered the titles the had to Mr. Text looked</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="service_box">
							<div>
								<div class="icon"><img alt="" src="assets/images/service-1.png"></div>
							</div>
							<div class="text">
								<h4>service 1</h4>
								<p>That ago, was flatter what for was empire and yet spends still once dissolute of that mountains, is all hotel entered the titles the had to Mr. Text looked</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="service_box">
							<div>
								<div class="icon"><img alt="" src="assets/images/service-1.png"></div>
							</div>
							<div class="text">
								<h4>service 1</h4>
								<p>That ago, was flatter what for was empire and yet spends still once dissolute of that mountains, is all hotel entered the titles the had to Mr. Text looked</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="service_box">
							<div>
								<div class="icon"><img alt="" src="assets/images/service-1.png"></div>
							</div>
							<div class="text">
								<h4>service 1</h4>
								<p>That ago, was flatter what for was empire and yet spends still once dissolute of that mountains, is all hotel entered the titles the had to Mr. Text looked</p>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</section><!-- ===============Services Section End============= -->