<!-- .=======================Checout Section===================== -->

<section class="checkout_page">
    <div class="container">
        <h3 class="section_title mb-4">Checkout</h3>
        <div class="row">
            <div class="col-md-8">
                <div class="checkout_form">
                    <form action="">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" name="" id="" class="form-control" placeholder=""
                                aria-describedby="helpId">

                        </div>
                        <div class="row">
                            <div class="col-lg-8 col-md-6">
                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input type="email" name="" id="" class="form-control" placeholder=""
                                        aria-describedby="helpId">

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label for="">Phone</label>
                                    <input type="text" name="" id="" class="form-control" placeholder=""
                                        aria-describedby="helpId">

                                </div>
                            </div>
                        </div>
                        <hr>
                        <h4 class="boxtitle mb-4">Choose Shipping Address</h4>
                        <div class="custom-control custom-radio mb-3">
                            <input type="radio" id="address1" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="address1">6 N. Glendale Road
                                Oak Lawn, IL 60453</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="address2" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="address2">40 Del Monte Ave.
                                Norristown, PA 19401</label>
                        </div>
                        <h4 class="boxtitle my-4">Add New Shipping Address</h4>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Country</label> <select class="form-control custom-select" id=""
                                        name="">
                                        <option value="">
                                            USA
                                        </option>
                                        <option value="">
                                            India
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">City</label> <select class="form-control custom-select" id="" name="">
                                        <option value="">
                                            Wichita
                                        </option>
                                        <option value="">
                                            Wichita
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">State</label> <select class="form-control custom-select" id=""
                                        name="">
                                        <option value="">
                                            Kansas
                                        </option>
                                        <option value="">
                                            Kansas
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Zipcode</label> <input class="form-control" id="" name="" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Full Address</label>
                            <textarea class="form-control" cols="30" id="" name="" rows="2"></textarea>
                        </div>


                        <hr>


                        <h4 class="boxtitle my-4">Choose Billing Address</h4>
                        <div class="custom-control custom-radio mb-3">
                            <input type="radio" id="address1" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="address1">6 N. Glendale Road
                                Oak Lawn, IL 60453</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="address2" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="address2">40 Del Monte Ave.
                                Norristown, PA 19401</label>
                        </div>
                        <h4 class="boxtitle my-4">Add New Billing Address</h4>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Country</label> <select class="form-control custom-select" id=""
                                        name="">
                                        <option value="">
                                            USA
                                        </option>
                                        <option value="">
                                            India
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">City</label> <select class="form-control custom-select" id="" name="">
                                        <option value="">
                                            Wichita
                                        </option>
                                        <option value="">
                                            Wichita
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">State</label> <select class="form-control custom-select" id=""
                                        name="">
                                        <option value="">
                                            Kansas
                                        </option>
                                        <option value="">
                                            Kansas
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Zipcode</label> <input class="form-control" id="" name="" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Full Address</label>
                            <textarea class="form-control" cols="30" id="" name="" rows="2"></textarea>
                        </div>

                        <h4 class="boxtitle my-4">Payment Method</h4>

                        <div class="d-flex">
                            <div class="custom-control custom-radio mr-3">
                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input"
                                    checked="" required="">
                                <label class="custom-control-label" for="credit">Credit card</label>
                            </div>
                            <div class="custom-control custom-radio mr-3">
                                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input"
                                    required="">
                                <label class="custom-control-label" for="debit">Debit card</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input"
                                    required="">
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>

                        <div class="form-group mt-3">
                            <label for="">Card Number</label>
                            <input type="text" name="" id="" class="form-control" placeholder=""
                                aria-describedby="helpId">

                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group ">
                                    <label for="">Expiry Date</label>
                                    <div class="row">
                                        <div class="col-6">
                                            <select name="" id="" class="form-control custom-select">
                                                <option value="">January</option>
                                                <option value="">February</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <select name="" id="" class="form-control custom-select">
                                                <option value="">2021</option>
                                                <option value="">2022</option>
                                                <option value="">2023</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="">CVV</label>
                                    <input type="text" name="" id="" class="form-control" placeholder=""
                                        aria-describedby="helpId">
                                </div>
                            </div>
                        </div>

                        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Proceed to Payment">




                    </form>
                </div>
            </div>

            <div class="col-md-4  mt-3 mt-sm-0">
                <div class="cart-total">
                    <table>
                        <tbody>
                            <tr class="first-total">
                                <td>item total</td>
                                <td>$800</td>
                            </tr>
                            <tr>
                                <td>total items</td>
                                <td>3</td>

                            </tr>
                            <tr>
                                <td>tax</td>
                                <td>$5</td>

                            </tr>
                            <tr>
                                <td>shipping</td>
                                <td>$5</td>

                            </tr>
                            <tr>
                                <td class="gt-t">Grand total</td>
                                <td class="gto">$805</td>

                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-success btn-block btn-lg mt-3">Proceed to Payment</button>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- .=======================Checout Section End===================== -->

<!-- Modal -->
<div class="modal fade custom-modal custom-modal-wmh  " id="applyCoupon" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel2">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

        <div class="modal-header bg-white no-border">

            <h4 class="modal-title">Apply Coupon</h4>
            <button type="button" class="close closecross" data-dismiss="modal" aria-label="Close">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="assets/images/symbols.svg#close_popup_icon"></use>
                </svg>
            </button>

        </div>

        <div class="modal-body">


            <form action="" class="coupon-form">
                <input type="text" class="coupon_input" placeholder="Enter coupon">
                <input type="submit" value="Apply" class="btn btn-primary appl_btn">
            </form>

            <div class="avaialble_copons">
                <h5>Available coupons</h5>
                <div class="coupon_list mt-4">
                    <div class="coupon_av">
                        <div class="coupon_code">
                            <img src="assets/images/coupon-bg.png" class="coupon-bg" alt="">
                            <div class="coupon-text">
                                <p>Shopping Voucher</p>
                                <h6>20% Off</h6>
                            </div>

                        </div>
                        <button class="btn btn-border">Apply</button>
                    </div>
                    <div class="coupon_av">
                        <div class="coupon_code">
                            <img src="assets/images/coupon-bg.png" class="coupon-bg" alt="">
                            <div class="coupon-text">
                                <p>Shopping Voucher</p>
                                <h6>20% Off</h6>
                            </div>

                        </div>
                        <button class="btn btn-border">Apply</button>
                    </div>
                    <div class="coupon_av">
                        <div class="coupon_code">
                            <img src="assets/images/coupon-bg.png" class="coupon-bg" alt="">
                            <div class="coupon-text">
                                <p>Shopping Voucher</p>
                                <h6>20% Off</h6>
                            </div>

                        </div>
                        <button class="btn btn-border">Apply</button>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- modal-content -->
</div><!-- modal-dialog -->
</div><!-- modal -->