<!-- ==========Category page header========= -->
<!-- <section class="categ_page_header " style="background-image: url(./assets/images/about.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-4 d-flex flex-column  justify-content-center">
                <h2>About Us</h2>
            </div>
        </div>
    </div>
</section> -->
<section class="policy_terms">
    <div class="container" [innerHTML]="content">
    </div>    
</section>

    <!-- ==========Category page header========= -->