	<!-- ===================Footer=============== -->
    <footer>
        <div class="newsletter-sub bg-primary">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="newsletter-text">
                            <svg aria-hidden="true" class="icon">
                            <use xlink:href="assets/images/symbols.svg#email_white_line"></use></svg>
                            <div class="text">
                                <h5>Get Special Offers Emails</h5>
                                <p>Get all the informations about sales and events.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="newsletter-form">
                            <input class="nl-email" placeholder="Email Address" type="email"> <input class="nl-submit" type="submit" value="SIGN UP">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer_contact">
                            <h4 class="color-white">Got Question? Call us 24/7</h4>
                            <h4 class="my-2"><a href="tel:1234%204567%20890">1234 4567 890</a></h4>
                            <h4><a href="mailto:Support@imepress.com">Support@imepress.com</a></h4>
                            <div class="social-link">
                                <h4>Social</h4>
                                <div>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a> <a href="#"><i class="fab fa-twitter"></i></a> <a href="#"><i class="fab fa-instagram"></i></a> <a href="#"><i class=
                                    "fab fa-youtube"></i></a> <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="footer-links_container">
                            <div class="footer-links">
                                <h4>categories</h4><a href="#">agriculture</a> <a href="#">Alternate Energy</a> <a href="#">Health & Beauty</a> <a href="#">Building Supplies</a> <a href="#">Pharmecuticals</a>
                            </div>
                            <div class="footer-links">
                                <h4>States</h4><a href="#">bahrain</a> <a href="#">kuwait</a> <a href="#">iraq</a> <a href="#">oman</a> <a href="#">saudi arabia</a> <a href="#">UAE</a>
                            </div>
                            <div class="footer-links">
                                <h4>account</h4><a href="#">orders</a> <a href="#">my account</a>
                                <h4 class="mt-5">about</h4><a routerLink="/careers">careers</a> <a routerLink="/privacy-policies">Privacy Policy</a><a routerLink="/terms&conditions">Terms & Conditions</a>
                            </div>
                            <div class="footer-links">
                                <h4>support</h4><a href="#">Help Center</a> <a href="#">contact us</a> <a href="#">return</a>
                            </div>
                            <div class="footer-links mt-4 mt-sm-0 mt-md-0">
                                <h4>mobile apps</h4><a href="#"><svg aria-hidden="true" class="icon" height="22" width="22">
                                <use xlink:href="assets/images/symbols.svg#footer_android_icon"></use></svg> android</a> <a href="#"><svg aria-hidden="true" class="icon" height="22" width="22">
                                <use xlink:href="assets/images/symbols.svg#footer_ios_icon"></use></svg> ios</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-3">
                        <p class="copyright">&copy; All Rights Reserved 2021</p>
                    </div>
                    <div class="col-lg-8 col-md-9 d-block d-sm-flex d-md-flex justify-content-end">
                    <div class="info-links">
                        <a href="#">privacy policy</a> <a href="#">terms & conditions</a> <a href="#">sitemap</a>
                    </div><img alt="" class="payments-image" src="assets/images/paypal.png"></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ===================Footer=============== -->
    